/* Enter your custom styles here */

/*
* DESCPRIPTION: Font Roboto
*/

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.eot");
    src: url("fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto/Roboto-Light.woff") format("woff"), url("fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.eot");
    src: url("fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto/Roboto-Regular.woff") format("woff"), url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("fonts/Roboto/Roboto-Medium.woff") format("woff"), url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.eot");
    src: url("fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto/Roboto-Bold.woff") format("woff"), url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto !important';
}


.reusable-header-container {
    background-image: url("../resources/headers/header.png");
    background-color: #2870a2;
    background-size: 100% 100%;
}

.reusable-header-width {
    width: 100%;
    height: 170px;
}

.customIcon .sapMBtnIcon {
    font-size: 24px;
    width: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    max-height: 1.5rem;
    margin-top: 8px;
    color: white;
}

/*Mobile*/
@media screen and (min-width: 768px) {
    .W4iconTabBar {
        width: 1280px;
    }
}

@media screen and (min-width:280px) and (max-width:540px) {
    .W4iconTabBar {
        width: 950px;
    }
}

.customIcon--header .sapMBtnIcon {
    margin-top: 0;
    color: white
}

.user-button .sapMBtnDefault,
.help-button .sapMBtnDefault,
.logoutButton .sapMBtnDefault {
    background-color: transparent !important;
    border: 0px !important;
    color: #fff !important;
    font-size: 16px !important;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    height: auto !important;
    padding-left: 1.2rem !important;
    padding-right: 1.8rem !important;
}

.user-button__pressed .sapMBtnDefault,
.help-button__pressed .sapMBtnDefault,
.logoutButtonPressed .sapMBtnDefault {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 16px !important;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    height: auto !important;
    border: 0px !important;
}

.sapUiSizeCompact .sapMBtnText .sapMBtnIcon,
.sapUiSizeCondensed .sapMBtnText .sapMBtnIcon {
    background-color: transparent !important;
    color: white !important;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    /* outline: .0625rem dotted #000; */
    outline-offset: -0.1875rem !important;
    outline: none !important;
}

.user-button .sapMBtnHoverable:hover,
.help-button .sapMBtnHoverable:hover,
.logoutButton .sapMBtnHoverable:hover {
    background-color: transparent !important;
    color: white !important;
    pointer-events: none !important;
}

.reusable-valvolineButtonDialogCancel {
    background-color: #fff;
    border: 1px solid #979797;
    color: #303030;
    display: block;
    font-weight: bold;
    height: 48px;
    width: 7.05rem;
    text-transform: uppercase;
}


.reusable-valvolineButtonDialogMoreInfo .sapMBtnInner {
    background-color: white !important;
    border: none !important;
    border-radius: .2rem;
    color: white !important;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
}

.reusable-valvolineButtonDialogCancel .sapMBtnInner {
    background-color: white !important;
    border: none !important;
    border-radius: .2rem;
    color: #303030 !important;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
}


.bringBack {
    z-index: 1;
}

.logButtonFixHeight {
    flex-direction: row;
    height: 55px;
    justify-content: flex-end;
    align-items: center;
}

.logButtonFixHeight_Impersonate {
    flex-direction: row;
    height: 55px;
    align-items: center;
}

@media screen and (max-width: 767.9px) {
    .header-page-title-container {
        margin-bottom: 15px;
    }
}

/* helper class to allow selective hiding elements from printing  */
.notPrintable {
    display: none !important;
}

.force-printing {
    display: flex !important;
}

/* fix overflow scrolling */

.sapMApp {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

/*********************************************
Fonts and colors
*********************************************/

.reusable-color-white {
    color: white !important;
}

.reusable-color-header-gray {
    color: #303030 !important;
}

.reusable-font-page-title-h1 {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 65px;

}

.sapMITBSelected .sapMITBFilterPositive {
    background: #8bb4d7;
    color: #fff;
    margin-top: -15px;
}

.sapMITBFilterPositive {
    color: black;
    border-color: white;
}

.sapMITH {
    vertical-align: top;
    font-size: .75rem;
    display: flex;
    align-items: flex-start;
    border-bottom: .125rem solid #eff4f9;
    box-shadow: inset 0 -0.25rem 0 -0.125rem #d1e0ee;
    position: relative;
    padding: 0 2rem;
    background-color: #085e8f !important;
    height: 55px;
    font-family: 'Roboto !important';
    font-weight: normal !important;
    font-size: 16px !important;
}

.sapMITBSelected .sapMITBContentArrow {
    border-bottom-color: #8bb4d7;
}

.sapMITBSelected.sapMITBFilterPositive .sapMITBContentArrow {
    border-bottom-color: #8bb4d7;
}

.customFontHeadingTable {
    /*font-weight: bold !important;*/
    font-size: 18px !important;
    text-shadow: none !important;
    font-family: "Roboto" !important;
    color: #6e6e6e !important;
    font-weight: 700 !important;
}

.customFontItemTable {
    /* font-weight: 900 !important;
    font-size: 0.922rem !important;
    color: black !important;
    font-family: "Roboto" !important;*/
    font-family: 'Roboto' !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    color: #6e6e6e !important;

}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.sapMITH {
    vertical-align: top;
    font-size: 0.922rem;
    display: flex;
    align-items: flex-start;
    border-bottom: .125rem solid #eff4f9;
    box-shadow: inset 0 -0.25rem 0 -0.125rem #d1e0ee;
    position: relative;
    padding: 0 2rem;
    font-weight: bold;
    color: black;
}

.sapUiForm .sapUiFormTitle {
    border-width: 1px;
    border-color: #ccc;
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: none !important
}

.sapMLabel {
    color: #6e6e6e;
    font-size: 0.99rem;
    font-family: 'Roboto';
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    text-shadow: none;
}

.sapUiFormM:not(.sapUiFormEdit)>.sapUiFormResGrid>div:not(.sapMTB) {
    padding-bottom: 0rem;

}

.iconTabBarSize: {
    height: 900px;
    border-bottom: 0px;
}

.AddressMargin {
    margin-left: 500px;
}

.UseTextMargin {
    margin-top: 7px !important;
}

.ClaimBordr {
    border: 1px solid black;
}

.DateLabel {
    margin-left: 1100px;
}

.iNotAuthorized {
    margin-top: 50px;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 70px;

}

.ValidDate {
    margin-left: 10px;
}

.CreateSave {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.headerUserF {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.headerUserL {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 10px;
}

.headerLogin {
    margin-top: 10px;
    margin-left: 24px;
}

.checkBoxdeclare {

    border: 2px red solid;
}

.reusable-color-white {
    color: white !important;
}

.sapMITBFilter .sapMITBText {
    line-height: .9375rem;
    overflow: hidden;
    padding: 0.375rem 0 0;
    position: relative;
    text-overflow: ellipsis;
    width: 5rem;
    color: white;
    margin-top: -20px;
    text-shadow: none;
}

.sapMITBFilterPositive {
    color: white;
    border-color: white;
    margin-top: -7px;
}

.sapMITBSelected .sapMITBFilterPositive {
    background: #8bb4d7;
    color: #fff;
    margin-top: -7px;
}

.sapMITBSepIcon {
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 0.25rem;
    color: white;
    margin-top: -7px;
}

.headingNames {
    margin-left: -40px !important;
}

.logoutmargin {
    margin-left: -10px !important;
}

.dialogtext .sapMText {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
    font-size: 0.95rem;
    font-family: 'Roboto';
    line-height: normal;
    color: #6e6e6e;
    font-weight: lighter;
}

.valvolineButton {
    /* Blue Button */
    background-color: #009cd9;
    border-color: #009cd9;
    color: #009cd9;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 32px;
}

.sapMBtnInner {
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 0.875rem;
    height: 2.500rem;
    min-width: 2.500rem;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: #f7f7f7;
    /* border: .0625rem solid #ababab; */
    border-radius: 0.2rem;
    text-shadow: 0 0 0.125rem #fff;
    color: white;
    background-color: #009cd9;
    border: none !important;
}

.sapMBtnHoverable:hover {
    background-color: transparent !important;
    color: white !important;
}

.sapMBtn:hover>.sapMBtnHoverable {
    background-image: none !important;
    background-color: transparent !important;
    border-color: none !important;
    color: white !important;
}

span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none !important;
    background-color: #009cd9 !important;
    border-color: none !important;
    color: white !important;
    text-shadow: 0 0 0.125rem rgb(0 0 0 / 50%);
    font-family: 'Roboto' !important;
}

.sapMIBar-CTX .sapMBtnInner,
.sapMBar .sapMBtnInner,
.sapMHeader-CTX .sapMBtnInner,
.sapMFooter-CTX .sapMBtnInner {
    background-image: none !important;
    background: none !important;
    border-color: none !important;
    background-color: #009cd9 !important;
    color: white !important;
    text-shadow: 0 0 0.125rem rgb(0 0 0 / 50%);
    font-family: 'Roboto' !important;
}

.sapMIBar-CTX .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-image: none !important;
    background: none !important;
    border-color: none !important;
    background-color: #009cd9 !important;
    color: white !important;
    text-shadow: 0 0 0.125rem rgb(0 0 0 / 50%);
    font-family: 'Roboto' !important;
}
.sapUiForm .sapUiFormTitle {
    border-width: 1px;
    border-color: #ccc;
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: none !important;
    color:#6e6e6e;
}
.required{
	margin-left:20%;
}
.dateRequired{
	margin-left:10% !important;
}
.filingRequired{
	margin-left:3.6% !important;
}